.header {
  background: var(--blue-600);
  display: flex;
  justify-content: center;
  padding: 1.25rem 0;
}

.header img {
  display: block;
  max-width: 100%;
  max-height: 95px;
  width: auto;
  height: auto;
}
